/* ----------------- Utilities -------------------- */
.pad {
  padding: var(--space-1);
}

.margin {
  margin: var(--space-1);
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

/* --------------- Demo Page Styles -------------------- */
nav.flex-row {
  justify-content: flex-start;
}

nav header {
  flex: 1 1 auto;
}

section {
  border-bottom: 2px solid var(--c-border);
}

.notification-box {
  border: 1px solid;
  border-top: 8px solid;
  border-radius: var(--border-radius);
  margin: var(--space-3) auto;
}

.color-label,
.color-input {
  margin: 4px auto;
  display: block;
}
