/* -------------- Sensible Defaults ------------------- */
body {
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  box-sizing:content-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--space-2);
  margin-bottom: var(--space-2);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.3rem;
}
h6 {
  font-size: 1.1rem;
}

p {
  margin-bottom: var(--space-2);
}

/* ----------------- Utilities -------------------- */
.pad {
  padding: var(--space-1);
}

.margin {
  margin: var(--space-1);
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

/* --------------- Demo Page Styles -------------------- */
nav.flex-row {
  justify-content: flex-start;
}

nav h1 {
  flex: 1 1 auto;
}

.bottom-line {
  border-bottom: 2px solid var(--c-border);
}

.notification-box {
  border: 1px solid;
  border-top: 8px solid;
  border-radius: var(--border-radius);
  margin-top: var(--space-2);
}

.color-label,
.color-input {
  margin: 4px auto;
  display: block;
}
