/* -------------- Sensible Defaults ------------------- */
body {
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  box-sizing: content-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--space-2);
  margin-bottom: var(--space-2);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.3rem;
}
h6 {
  font-size: 1.1rem;
}

p {
  margin-bottom: var(--space-2);
}
