body {
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--space-2);
  margin-bottom: var(--space-2);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.3rem;
}
h6 {
  font-size: 1.1rem;
}

p {
  margin-bottom: var(--space-2);
}

.pad {
  padding: var(--space-1);
}

.margin {
  margin: var(--space-1);
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

button {
  background-color: var(--c-background);
  border-radius: var(--border-radius);
  border: var(--border) var(--c-border);
  box-sizing: content-box;
  color: var(--c-foreground);
  height: var(--space-5);
  line-height: var(--space-5);
  margin: var(--space-2);
  min-width: calc(var(--space-5) * 3);
  white-space: nowrap;
  box-shadow: var(--box-shadow) var(--c-box-shadow);
}

button:hover {
  background-color: var(--c-background-hover);
}

.btn:active {
  box-shadow: none;
}

.btn-inverse {
  background-color: var(--c-foreground);
  border: var(--border) var(--c-foreground);
  color: var(--c-background);
}

.dark .btn-inverse:hover {
  background-color: var(--c-foreground-lighter);
}
.light .btn-inverse:hover {
  background-color: var(--c-foreground-darker);
}

.btn-primary {
  background-color: var(--c-primary);
  border: none;
  height: calc(var(--space-5) + 4px);
  color: var(--c-primary-accent);
}

.btn-primary:hover {
  background-color: var(--c-primary-darker);
}

.btn-secondary {
  background-color: var(--c-secondary);
  border: none;
  height: calc(var(--space-5) + 4px);
  color: var(--c-secondary-accent);
}

.btn-secondary:hover {
  background-color: var(--c-secondary-darker);
}

.btn-tertiary {
  border: var(--border) var(--c-primary);
  color: var(--c-primary);
}

/* ------------------------------------------------- */
nav.flex-row {
  justify-content: flex-start;
}

nav h1 {
  flex: 1 1 auto;
}

.bottom-line {
  border-bottom: 2px solid var(--c-border);
}

.notification-box {
  border: 1px solid;
  border-top: 8px solid;
  border-radius: var(--border-radius);
  margin-top: var(--space-2);
}
